{% extends 'base.html.twig' %}
{% block title %}
    New Task !
{% endblock %}
{% block body %}
    <div id="form_new_task">
    </div>
    <h1>News Task !</h1>
    {% include 'task/_form.html.twig' %}
{% endblock %}



