{% extends 'baseExperience.html.twig' %}

{% block title %}Experience !{% endblock %}

{% block body %}
    <section>
            <h1>Index !</h1>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor ac elit venenatis ultricies vel vitae turpis. Maecenas imperdiet volutpat sem ac suscipit. Vivamus fermentum mi sit amet neque pulvinar sollicitudin. Vivamus leo orci, auctor non risus nec, placerat gravida nisi. Aenean dolor arcu, hendrerit sed mauris vitae, posuere pretium leo. Donec auctor non dui non varius. Phasellus at fringilla ante, sit amet vestibulum dolor. Sed neque neque, facilisis sed leo eu, consequat finibus diam.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor ac elit venenatis ultricies vel vitae turpis. Maecenas imperdiet volutpat sem ac suscipit. Vivamus fermentum mi sit amet neque pulvinar sollicitudin. Vivamus leo orci, auctor non risus nec, placerat gravida nisi. Aenean dolor arcu, hendrerit sed mauris vitae, posuere pretium leo. Donec auctor non dui non varius. Phasellus at fringilla ante, sit amet vestibulum dolor. Sed neque neque, facilisis sed leo eu, consequat finibus diam.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id dolor ac elit venenatis ultricies vel vitae turpis. Maecenas imperdiet volutpat sem ac suscipit. Vivamus fermentum mi sit amet neque pulvinar sollicitudin. Vivamus leo orci, auctor non risus nec, placerat gravida nisi. Aenean dolor arcu, hendrerit sed mauris vitae, posuere pretium leo. Donec auctor non dui non varius. Phasellus at fringilla ante, sit amet vestibulum dolor. Sed neque neque, facilisis sed leo eu, consequat finibus diam.
                </p>
            </div>
            <a href="{{ path('app_experience_frame_one') }}" class="btn btn-primary">Next</a>
    </section>
{% endblock %}

